# SQL and SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [16]:
import sqlite3

In [17]:
### Connect to a SQLite database
connection = sqlite3.connect('example.db')
connection

In [18]:
cursor = connection.cursor()  # Create a cursor object

In [19]:
## Create a table
cursor.execute('''
Create Table If Not Exists employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

## Commit the changes
connection.commit()

In [20]:
cursor.execute('''
Select * From employees
''')

In [21]:
## Insert data into table
cursor.execute('''
Insert Into employees(name, age, department)
                Values('John Doe', 25, 'HR')
''')
cursor.execute('''
Insert Into employees(name, age, department)
                Values('Bhumit', 22, 'IT')
''')

## Commit the changes
connection.commit()

In [22]:
## Query the database
cursor.execute('''
Select * From employees
''')
rows = cursor.fetchall()

## Print the data
for row in rows:
    print(row)

(2, 'Bhumit', 22, 'IT')
(4, 'Bhumit', 22, 'IT')
(5, 'John Doe', 25, 'HR')
(6, 'Bhumit', 22, 'IT')

In [24]:
## Update the data
cursor.execute('''
Update employees
Set age = 26
Where name = 'John Doe'
''')
connection.commit()

cursor.execute('Select * From employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Bhumit', 22, 'IT')
(4, 'Bhumit', 22, 'IT')
(5, 'John Doe', 26, 'HR')
(6, 'Bhumit', 22, 'IT')

In [13]:
## Delete Data from table

cursor.execute('''
Delete From employees
Where name = 'Bhumit'
''')
connection.commit()

In [25]:
cursor.execute('Select * From employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Bhumit', 22, 'IT')
(4, 'Bhumit', 22, 'IT')
(5, 'John Doe', 26, 'HR')
(6, 'Bhumit', 22, 'IT')

In [26]:
## Working with Sales Data
## Connect to a SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table
cursor.execute('''
Create Table if not Exists sales(
                id INTEGER PRIMARY KEY,
                date TEXT not null,
                product TEXT not null,
                sales INTEGER,
                region TEXT
               )
''')

# Insert data into table
sales_data = [
    ('2020-01-01', 'Laptop', 1000, 'North'),
    ('2020-01-01', 'Laptop', 1200, 'North'),
    ('2020-01-01', 'Printer', 300, 'South'),
    ('2020-01-02', 'Laptop', 1000, 'North'),
    ('2020-01-02', 'Laptop', 1200, 'North'),
    ('2020-01-02', 'Printer', 300, 'South'),
    ('2020-01-03', 'Laptop', 1000, 'North'),
    ('2020-01-03', 'Laptop', 1200, 'North'),
    ('2020-01-03', 'Printer', 300, 'South')
]

cursor.executemany('''
Insert Into sales(date, product, sales, region)
                Values(?, ?, ?, ?)
''', sales_data)

connection.commit()

In [27]:
cursor.execute('Select * From sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2020-01-01', 'Laptop', 1000, 'North')
(2, '2020-01-01', 'Laptop', 1200, 'North')
(3, '2020-01-01', 'Printer', 300, 'South')
(4, '2020-01-02', 'Laptop', 1000, 'North')
(5, '2020-01-02', 'Laptop', 1200, 'North')
(6, '2020-01-02', 'Printer', 300, 'South')
(7, '2020-01-03', 'Laptop', 1000, 'North')
(8, '2020-01-03', 'Laptop', 1200, 'North')
(9, '2020-01-03', 'Printer', 300, 'South')

In [28]:
# Close the connection
connection.close()